#headerCadastro {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#logoCadastro {
    width: 172.5px;
    height: 30px;
}



#mainCadastro {
  background: linear-gradient(to bottom, #B5B6F2, #fff);
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 80px;
  box-sizing: border-box;
}

#formCadastro {
  background-color: #FFFFFF;
  height: 375px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; /* Impede de encolher */
  margin-bottom: 90px;
}

#posicaoImagem {
  display: flex;
  gap: 0px; /* controla o espaço entre as imagens */
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

#imagemCadastro1 {
   width: 370px; /* ajuste para caber ambas lado a lado */
   height: auto;
   margin-bottom: 90px;
}

#imagemCadastro2 {
   width: 390px; /* ajuste para caber ambas lado a lado */
   height: auto;
   margin-top: 160px;
   margin-left: -90px;
}

#button-cadastro{
  background-color: #C92071;
}

#button-cadastro:hover{
  background-color: #b1105e;
}

#icones-gmail-face{
  display: flex;
  gap: 24px;
}

#gmail{
  height: 30px;
  margin-top: -7px;
}

#facebook{
  height: 30px;
  margin-top: -7px;
}

#login-com{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
    #headerCadastro {
        padding-left: 20px;
        justify-content: center;
    }

    #mainCadastro {
        flex-direction: column;
        height: auto;
        padding: 20px;
        align-items: center;
        gap: 2rem;
        
    }

    #formCadastro {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    #formCadastro h3,
    #formCadastro p{
        text-align: center;
        width: 100%;
    }

    #inputAltura,
    #formCadastro .p-inputtext {
        width: 100%;
    }

    #posicaoImagem,
    #imagemCadastro1,
    #imagemCadastro2 {
        display: none;
    }

    .flex.pt-6.px-8.gap-5 {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    #icones-gmail-face{
      display: flex;
      gap: 30px;
    }

    #gmail,
    #facebook {
        height: 40px;
        padding-bottom: 12px;
    }
}
